/*Header*/
.headerPrincipal .container {
    display: flex;
    /* Utilizamos la implementacion para ocupar flex*/
    align-items: center;
    /* Alineamos los items para que quedaran en el medio*/
    justify-content: space-between;
    /* Agregamos space-between para tener un espacio entre medio de los items */
}

.headerPrincipal-nav {
    display: flex;
    /*Valor de la propiedad display que se refiere al flexbox es flex. O sea, display:flex*/
}

/*-------------------------------------------------------*/
/*Footer*/
.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5px;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

/*-------------------------------------------------------*/
/*Mapa de cursos*/
.rodapePrincipal-navMap-list {
    display: flex;
    /*Colocamos los elementos a un lado del otro*/
    flex-direction: column;
    /*Colocamos un elemento de bajo del otro (En fila)*/
    height: 260px;
    /*Colocamos la altura*/
    flex-wrap: wrap;
    /*Quebramos el contenido por cada 250 pixeles rellena y brinca al otro lado*/
}

/*-------------------------------------------------------*/
/*Nuestros cursos*/
.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}

/*-------------------------------------------------------*/
/*Responsive*/
.headerPrincipal .container {
    flex-direction: column;
    align-items: initial;
    text-align: center;
}

.headerPrincipal-nav {
    flex-direction: column;
}