.app {
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-areas:
     "encabezado"
     "contenido"
     "rodapie";
     grid-template-columns: auto;
     grid-template-rows: 50px auto auto;
}

.encabezado {
    display: flex;
    align-items:center ;
    grid-area: encabezado;
    padding: 0 2rem;
}

.menu__link{
    color: #333333;
    padding: .5rem 1rem;
}

.menu__link:hover, .menu_link:active{
   border-bottom: 2px solid #0073e6;
}

.contenido {
    grid-area: contenido;
    padding: 0 2rem;
}

.rodapie { 
    background-color: #fdfdfd;
     grid-area: rodapie;
     color: #333333;
     padding: 1rem;
     text-align: center;
     
}
.destaques__titulo{
    color: #fdfdfd;
    background: rgb(0,0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: .6rem;
}

.box{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}